.imagedefond { 
  
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQplSEGEXBxA_HaUv-TM3p-RIaPibiNLUgGDM7H55_qvQ&s");
  width : 50vw;
  height : 50vh;
  max-width : 250px;
  max-height : 150px;
}

header.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 185px;
    background-color: dark;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
