@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  background: no-repeat url('https://i.pinimg.com/originals/a2/d0/63/a2d063b80e8cb04ec5d778e36389d2b7.jpg');
  background-size: cover;
  background-color: black;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.texte{
  position: relative;
  top: 500px; left: 950px;
  color: #FF1493;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.0);
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.navbar__menu {
  position: relative;
  display: flex;
}

.navbar__link {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 10rem;
  color: #fff;
  transition: 250ms ease all;
  text-decoration: none;
  text-transform: uppercase;
  transition: 500ms ease all;
}

.navbar__link svg {
  transition: 500ms ease all;
}

.navbar__link:hover svg {
  stroke: #fff;
}

.navbar:not(:hover) .navbar__link:focus span, 
.navbar__link:hover span {
  opacity: 1;
  transform: translate(0);
}

.navbar__item:last-child:before {
  content: "";
  position: absolute;
  left: -8rem;
  margin-left: 5rem;
  bottom: -1.25rem;
  height: 0.5rem;
  width: 2px;
  background: #fff;
  box-shadow: 
    0 -0.5rem #fff, 
    0 -0.5rem #fff, 
    0 0 3rem 0.5rem #fff, 
    2rem 0 0 rgba(255, 255, 255, 0.2), 
    -3rem 0 0 rgba(255, 255, 255, 0.2),
    6rem 0 0 rgba(255, 255, 255, 0.2),
    -6rem 0 0 rgba(255, 255, 255, 0.2),
    9rem 0 0 rgba(255, 255, 255, 0.2),
    -9rem 0 0 rgba(255, 255, 255, 0.2),
    12rem 0 0 rgba(255, 255, 255, 0.2),
    -12rem 0 0 rgba(255, 255, 255, 0.2),
    15rem 0 0 rgba(255, 255, 255, 0.2),
    -15rem 0 0 rgba(255, 255, 255, 0.2),
    18rem 0 0 rgba(255, 255, 255, 0.2),
    -18rem 0 0 rgba(255, 255, 255, 0.2),
    21rem 0 0 rgba(255, 255, 255, 0.2),
    -21rem 0 0 rgba(255, 255, 255, 0.2),
    24rem 0 0 rgba(255, 255, 255, 0.2),
    -24rem 0 0 rgba(255, 255, 255, 0.2),
    27rem 0 0 rgba(255, 255, 255, 0.2),
    -27rem 0 0 rgba(255, 255, 255, 0.2),
    30rem 0 0 rgba(255, 255, 255, 0.2),
    -30rem 0 0 rgba(255, 255, 255, 0.2),
    33rem 0 0 rgba(255, 255, 255, 0.2),
    -33rem 0 0 rgba(255, 255, 255, 0.2),
    36rem 0 0 rgba(255, 255, 255, 0.2),
    -36rem 0 0 rgba(255, 255, 255, 0.2),
    39rem 0 0 rgba(255, 255, 255, 0.2),
    -39rem 0 0 rgba(255, 255, 255, 0.2),
    42rem 0 0 rgba(255, 255, 255, 0.2),
    -42rem 0 0 rgba(255, 255, 255, 0.2),
    45rem 0 0 rgba(255, 255, 255, 0.2),
    -45rem 0 0 rgba(255, 255, 255, 0.2),
    48rem 0 0 rgba(255, 255, 255, 0.2),
    -48rem 0 0 rgba(255, 255, 255, 0.2),
    51rem 0 0 rgba(255, 255, 255, 0.2),
    -51rem 0 0 rgba(255, 255, 255, 0.2),
    54rem 0 0 rgba(255, 255, 255, 0.2),
    -54rem 0 0 rgba(255, 255, 255, 0.2),
    57rem 0 0 rgba(255, 255, 255, 0.2),
    -57rem 0 0 rgba(255, 255, 255, 0.2),
    60rem 0 0 rgba(255, 255, 255, 0.2),
    -60rem 0 0 rgba(255, 255, 255, 0.2),
    63rem 0 0 rgba(255, 255, 255, 0.2),
    -63rem 0 0 rgba(255, 255, 255, 0.2),
    66rem 0 0 rgba(255, 255, 255, 0.2),
    -66rem 0 0 rgba(255, 255, 255, 0.2),
    69rem 0 0 rgba(255, 255, 255, 0.2),
    -69rem 0 0 rgba(255, 255, 255, 0.2),
    72rem 0 0 rgba(255, 255, 255, 0.2),
    -72rem 0 0 rgba(255, 255, 255, 0.2),
    75rem 0 0 rgba(255, 255, 255, 0.2),
    -75rem 0 0 rgba(255, 255, 255, 0.2),
    78rem 0 0 rgba(255, 255, 255, 0.2),
    -78rem 0 0 rgba(255, 255, 255, 0.2),
    81rem 0 0 rgba(255, 255, 255, 0.2),
    -81rem 0 0 rgba(255, 255, 255, 0.2),
    84rem 0 0 rgba(255, 255, 255, 0.2),
    -84rem 0 0 rgba(255, 255, 255, 0.2),
    87rem 0 0 rgba(255, 255, 255, 0.2),
    -87rem 0 0 rgba(255, 255, 255, 0.2),
    90rem 0 0 rgba(255, 255, 255, 0.2),
    -90rem 0 0 rgba(255, 255, 255, 0.2),
    93rem 0 0 rgba(255, 255, 255, 0.2),
    -93rem 0 0 rgba(255, 255, 255, 0.2),
    96rem 0 0 rgba(255, 255, 255, 0.2),
    -96rem 0 0 rgba(255, 255, 255, 0.2),
    99rem 0 0 rgba(255, 255, 255, 0.2),
    -99rem 0 0 rgba(255, 255, 255, 0.2),
    102rem 0 0 rgba(255, 255, 255, 0.2),
    -102rem 0 0 rgba(255, 255, 255, 0.2),
    105rem 0 0 rgba(255, 255, 255, 0.2),
    -105rem 0 0 rgba(255, 255, 255, 0.2),
    108rem 0 0 rgba(255, 255, 255, 0.2),
    -108rem 0 0 rgba(255, 255, 255, 0.2);
}
